{{- define "main" }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description | markdownify }}</div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="md-content">{{ .Content }}</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}
{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- range $index, $page := $paginator.Pages }}
{{- $desc := partial "seo_description.html" . }}

<article class="post-entry post-entry-excerpt">
  <header class="entry-header">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </header>

  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>

  <div class="entry-content">
    <p>{{ $desc }}</p>
    <p class="read-more"><a href="{{ .Permalink }}">阅读全文 →</a></p>
  </div>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« 上一页</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">下一页 »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}
