{{- $desc := partial "seo_description.html" . -}}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title | default site.Title }}{{ end }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:locale" content="{{ replace (or .Params.locale site.Language.LanguageCode) `-` `_` }}">
{{- if .IsPage }}
<meta property="og:type" content="article">
{{- with .Section }}<meta property="article:section" content="{{ . }}">{{- end }}
{{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
{{- with .PublishDate }}<meta property="article:published_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>{{- end }}
{{- with .Lastmod }}<meta property="article:modified_time" {{ .Format $ISO8601 | printf "content=%q" | safeHTMLAttr }}>{{- end }}
{{- else }}
<meta property="og:type" content="website">
{{- end }}
{{- with partial "templates/_funcs/get-page-images" . }}
  {{- range . | first 4 }}
<meta property="og:image" content="{{ .Permalink }}">
  {{- end }}
{{- end }}
