{{- $desc := partial "seo_description.html" . -}}
{{- if .Params.robotsNoIndex -}}
{{- else if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "{{ site.Home.Permalink }}#person",
      "name": {{ site.Params.author | default site.Title }},
      "url": {{ site.Home.Permalink }},
      "description": {{ $desc }}
    },
    {
      "@type": "WebSite",
      "@id": "{{ site.Home.Permalink }}#website",
      "name": {{ site.Title }},
      "url": {{ site.Home.Permalink }},
      "description": {{ $desc }},
      "publisher": {
        "@id": "{{ site.Home.Permalink }}#person"
      }
    }
  ]
}
</script>
{{- else if .IsPage }}
{{- $content := .Content -}}
{{- if findRE `<div class="static-comments">` $content -}}
  {{- $content = index (split $content `<div class="static-comments">`) 0 -}}
{{- end -}}
{{- $body := $content | plainify | htmlUnescape | replaceRE "\\s+" " " | replaceRE "^\\s+|\\s+$" "" -}}
{{- if not $body -}}{{- $body = $desc -}}{{- end -}}
{{- $images := partial "templates/_funcs/get-page-images" . -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": {{ site.Title }},
      "item": {{ site.Home.Permalink }}
    }{{ if .Section }},
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ .Section | title }},
      "item": {{ (site.GetPage .Section).Permalink }}
    }{{ end }},
    {
      "@type": "ListItem",
      "position": {{ if .Section }}3{{ else }}2{{ end }},
      "name": {{ .Title }},
      "item": {{ .Permalink }}
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify }},
  "name": {{ .Title | plainify }},
  "description": {{ $desc }},
  "articleBody": {{ $body | truncate 5000 }},
  "inLanguage": {{ .Language.Lang | default "zh-cn" }},
  {{- if gt .WordCount 0 }}
  "wordCount": "{{ .WordCount }}",
  {{- end }}
  {{- with index $images 0 }}
  "image": {{ .Permalink }},
  {{- end }}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ partial "author.html" . | default site.Params.author }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ site.Params.author | default site.Title }},
    "url": {{ site.Home.Permalink }}
  }
}
</script>
{{- else if .IsSection }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ .Title }},
  "url": {{ .Permalink }},
  "description": {{ $desc }},
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.Title }},
    "url": {{ site.Home.Permalink }}
  }
}
</script>
{{- end -}}
